/* Dracula-inspired code palette. */
.post-content code {
  color: #f8f8f2;
  background: #282a36;
}

.post-content pre code {
  color: #f8f8f2;
  background: #282a36 !important;
}

.hljs {
  color: #f8f8f2;
  background: #282a36;
}

.hljs-comment,
.hljs-quote {
  color: #6272a4;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-section,
.hljs-link,
.hljs-doctag {
  color: #ff79c6;
}

.hljs-title,
.hljs-name,
.hljs-type,
.hljs-class .hljs-title,
.hljs-number,
.hljs-built_in,
.hljs-builtin-name {
  color: #8be9fd;
}

.hljs-string,
.hljs-meta,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-template-tag,
.hljs-template-variable {
  color: #50fa7b;
}

.hljs-attr,
.hljs-attribute,
.hljs-variable,
.hljs-title.class_,
.hljs-variable.constant_,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #f1fa8c;
}

.hljs-number,
.hljs-regexp,
.hljs-link,
.hljs-literal,
.hljs-params {
  color: #bd93f9;
}

.hljs-deletion {
  color: #ff5555;
}
