/* Post type fonts by section. */
.post-single.section-life {
  font-family: "FangSong", "FangSong_GB2312", "STFangsong", "Songti SC",
    "STSong", "Noto Serif CJK SC", "Source Han Serif SC", "SimSun",
    "Iowan Old Style", Palatino, "Palatino Linotype", "Times New Roman",
    Georgia, serif;
}

.post-single.section-life .post-content h1,
.post-single.section-life .post-content h2,
.post-single.section-life .post-content h3,
.post-single.section-life .post-content h4 {
  font-family: inherit;
  font-weight: 600;
  letter-spacing: -0.005em;
}

.post-single.section-read {
  font-family: "Kaiti SC", "STKaiti", "KaiTi", "Kaiti TC", "Songti SC",
    "STSong", "Noto Serif CJK SC", "Source Han Serif SC", "SimSun",
    "Iowan Old Style", Palatino, "Palatino Linotype", "Times New Roman",
    Georgia, serif;
}

.post-single.section-read .post-content h1,
.post-single.section-read .post-content h2,
.post-single.section-read .post-content h3,
.post-single.section-read .post-content h4 {
  font-family: inherit;
  font-weight: 600;
  letter-spacing: -0.005em;
}

.post-single.section-tech {
  font-family: "Source Han Serif SC", "Noto Serif CJK SC", "Songti SC", "STSong",
    "SimSun", "Iowan Old Style", Palatino, "Palatino Linotype",
    "Times New Roman", Georgia, serif;
}

.post-single.section-tech .post-content h1,
.post-single.section-tech .post-content h2,
.post-single.section-tech .post-content h3,
.post-single.section-tech .post-content h4 {
  font-family: inherit;
  font-weight: 600;
  letter-spacing: -0.005em;
}

.post-single.section-tech .post-content code,
.post-single.section-tech .post-content pre,
.post-single.section-tech .post-content kbd,
.post-single.section-tech .post-content samp {
  font-family: ui-monospace, "SFMono-Regular", Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}


@supports (-webkit-touch-callout: none) {
  .post-single.section-life {
    font-family: "Songti SC", "STSong", "Noto Serif CJK SC",
      "Source Han Serif SC", "SimSun", serif;
  }

  .post-single.section-read {
    font-family: "Kaiti SC", "STKaiti", "KaiTi", "Songti SC", "STSong",
      "Noto Serif CJK SC", "Source Han Serif SC", "SimSun", serif;
  }
}
